
/*tables*/
 table{
     font-size:20px;
     margin-left: auto;
     margin-right: auto;
     border-collapse: collapse;
     width:100%;
}
 td{
     padding:2%;
     text-align:center;
}
 img{
     height:35px;
     width:35px;
     border-radius:50px;
}
 tr td a{
     text-decoration:none;
     color:#000;
}
 tr td a:hover{
     color: #000000;
     text-decoration: none;
}
 .name{
     text-align:center;
}
 .prof img{
     position:relative;
     left:300%;
}
 tr{
     background:#fff;
     box-shadow:3px 5px #f0f0f0;
}
 .headers{
     box-shadow:none;
     background:transparent;
}
 tr:nth-child(even) {
     background: #f4f8fb;
}
 .rank{
     padding-left:7.5%;
}
 @media (max-width:1080px){
     td{
         font-size: 17px;
    }
     .prof img{
         left:200%;
    }
     .rank{
         padding-top:2%;
    }
}
 @media (max-width:680px){
     td{
         font-size:15px
    }
     .prof img{
         width:30px;
         height:30px;
         left:100%;
    }
     .rank{
         padding-left:2.5%;
    }
}
 @media (max-width:480px){
     td{
         font-size:12.5px;
         height:30px;
    }
     .prof img{
         width:25px;
         height:25px;
         left:75%
    }
     .headers td{
         padding-left: 10px;
    }
}
 @media (max-width:350px){
     .prof img{
         visibility:hidden;
    }
}
 .search-ldrb{
     margin-top:5vh;
     position:relative;
     font-size:1.15rem;
     border: none;
    /* From https://css.glass */
     margin-left:auto;
     margin-right:auto;
     display:block;
     color:black;
     border-radius:10px;
     max-width:50%;
}
 .search-ldrb:focus{
     outline: none;
     border: #f4f8fb;
     color:#000;
}
 tbody tr:hover{
     transform: scale(1.025);
     transition: .5s;
     box-shadow:none;
     border-radius:10px;
}
 .container-sm{
     max-width:680px;
}
 .headers td{
     color:white;
}
