.row img{
     max-width: 50vw;
     margin-right: auto;
     margin-left: auto;
     display: block;
     border-radius: 50px;
}
 .row p, .row h6{
     color: white;
     text-align: center;
     font-size: 1.25rem;
}
 .row .source{
     font-size: 1.05rem;
     text-align: center;
     opacity: .8;
}
 .source a{
     color: rgb(10, 168, 152);
     text-decoration: none;
}
 .row .source:hover{
     opacity: 1;
}
 @media(max-width:640px){
     .row img{
         max-width: 80vw;
    }
}
 .reactions{
     position: relative;
     top:-7vh;
     width:50vw;
     opacity: 0;
     left:35vw;
}
 @media (min-width:1080px){
     .reactions{
         left:25vw;
    }
}
 @media (max-width:640px){
     .reactions{
         left:25vw;
    }
}
 @media(max-width:480px){
     .reactions{
         width:85vw;
         left:20vw;
    }
}
 .reactions i{
     color:white;
     display: inline-block;
     padding: 1%;
     opacity: .8;
}
 .reactions i:hover{
     opacity: 1;
     position: relative;
     top:-20%;
     transition: .5s;
}
 .row img:hover + .reactions{
     opacity: 1;
     transition: .5s;
}
 .reactions:hover{
     opacity: 1;
}
 .rain i{
     color: #fff;
     animation: rain 5s;
     padding: 3%;
}
 .laugh, .surprise, .neutral, .sad, .angry{
     display: none;
     position: fixed;
     padding-left: 30vw;
}
 @keyframes rain{
     0%{
         position: relative;
         top:0vh;
    }
     100%{
         opacity:0;
         display: none;
         transform: scale(2);
    }
}
